POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=ecommerce
NEXT_PUBLIC_API_URL=http://localhost:3001
ENABLE_ENCRYPTION=false
ENCRYPTION_PRIVATE_KEY_B64=
ENCRYPTION_PUBLIC_KEY_B64=
ADMIN_EMAIL=admin@rushculture.example
ADMIN_PASSWORD=admin123
JWT_SECRET=change-me-in-production
ADMIN_ORIGIN=http://localhost:3002
STOREFRONT_ORIGIN=http://localhost:3000
